<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
   <!-- This sample uses App Only permissions.  you must create you own client Id 
   and client secret using AppRegNew.aspx --> 
    <add key="ClientId" value="d3ee7161-eb48-4318-9608-006f160f25a0" />
    <add key="ClientSecret" value="" />

    <add key="SitesFilter" value="teams"/>
    <!-- REPLACE the following with your own tenant -->
    <add key="TenantAdminUrl" value="https://tenant-admin.sharepoint.com"/>
    <add key="ScriptKey" value="GoogleAnalytics"/>
    <add key="GAScript" value="(function(i,s,o,g,r,a,m){{i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){{(i[r].q=i[r].q||[]).push(arguments)}},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)}})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '{0}', 'auto');ga('send', 'pageview');"/>
    <add key="GA_ID" value="UA-999999-99"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
